/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers 
*/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.hide {
  display: none !important;
}

@media screen and (min-width: 800px) {
  .pc_none {
    display: none !important;
  }
}

@media screen and (min-width: 500px) and (max-width: 800px) {
  .pc_none {
    display: none !important;
  }
}

@media screen and (max-width: 500px) {
  .sp_none {
    display: none !important;
  }
}

body, html {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}
.bg {
  width: 100%;
  height: 100vh;
  position: relative;
  background: linear-gradient(135deg, #80d8e3, #ffb5db, #ffdb99);
  background-size: 600% 600%;
  animation: AnimationName 10s ease infinite;
}

/*仮のbg*/
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
.program_item {
  width: 750px;
  height: 750px;
  padding: 180px 0;
  box-sizing: border-box;
  border-radius: 50%;
  border: solid 2px #fff;
  position: absolute;
  top: 0;bottom: 0;left: 0;right: 0;
  margin: auto;
}
.program_item li {
  width: 100%;
  height: 20%;
  text-align: center;
  font-size: 19px;
  font-weight: 700;
  color: #6e6d6f;
  cursor: pointer;
  transition: all .5s ease;
  position: relative;
  z-index: 10;
}
.program_item li.current {
  font-size: 40px;
  color: #222;
}
.program_item li.current span {
  color: #fff;
}
.comment_item {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;left: 0;
}
.comment_item li {
  width: 200px;
  box-sizing: border-box;
  padding: 20px;
  background-color: #fff;
  box-shadow:2px 2px 6px 0px #cfcfcf;
  background-color: #fff;
  border-radius: 10px;
  position: absolute;
  font-size: 17px;
  word-wrap: break-word;
}
.comment_item li.commontType1 {
  top:5%;left: 30%;
  animation: comentAnime1 2s ease infinite;
}
.comment_item li.commontType2 {
  bottom:10%;right: 10%;
  animation: comentAnime2 3s ease infinite;
}
.comment_item li.commontType3 {
  top:50%;left: 10%;
  animation: comentAnime3 2s ease infinite;
}
.comment_item li.commontType4 {
  top:10%;right: 20%;
  animation: comentAnime4 6s ease infinite;
}
.comment_item li.commontType5 {
  top:20%;left: 5%;
  animation: comentAnime5 4s ease infinite;
}
.comment_item li.commontType6 {
  bottom:10%;left: 30%;
  animation: comentAnime6 5S ease infinite;
}
.comment_item li.commontType7 {
  bottom:50%;right: 5%;
  animation: comentAnime7 2s ease infinite;
}


@keyframes comentAnime1 {
  0% {transform: translateY(0%);}
  50% {transform: translateY(6%);}
  100% {transform: translateY(0%);}
}

@keyframes comentAnime2 {
    0%{bottom:10%;transform:rotateY(0deg);}
    40%{bottom:13%;transform:rotateY(0deg);}
    90%{bottom:10%;transform:rotateY(0deg);}
    100%{bottom:10%;transform:rotateY(360deg);}
}
@keyframes comentAnime3 {
    0%{top:50%;transform:rotateX(0deg);}
    40%{top:55%;transform:rotateX(0deg);}
    80%{top:50%;transform:rotateX(0deg);}
    100%{top:50%;transform:rotateX(360deg);}
}
@keyframes comentAnime4 {
    0%{top:10%;transform:rotateY(0deg);}
    40%{top:8%;transform:rotateY(0deg);}
    80%{top:10%;transform:rotateY(0deg);}
    100%{top:10%;transform:rotateY(360deg);}
}
@keyframes comentAnime5 {
  0% {transform: rotate(-4deg);}
  50% {transform: rotate(4deg);}
  100% {transform: rotate(-4deg); }
}
@keyframes comentAnime6 {
    0%{transform: translateY(0%);}
    50%{transform: translateY(20%);}
    100%{transform: translateY(0%);}
}
@keyframes comentAnime7 {
    0%{transform: translateX(0%);}
    50%{transform: translateX(35%);}
    100%{transform: translateX(0%);}
}



