/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers 
*/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.hide {
  display: none !important;
}

@media screen and (min-width: 800px) {
  .pc_none {
    display: none !important;
  }
}

@media screen and (min-width: 500px) and (max-width: 800px) {
  .pc_none {
    display: none !important;
  }
}

@media screen and (max-width: 500px) {
  .sp_none {
    display: none !important;
  }
}

body, html {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}

.commentContainer {
  width: 100%;
  position: fixed;
  left: 0;bottom: 0;
  height: 100px;
}
.commentContainer li {
  width: 100%;
  height: 100%;
  background-color: #eee;
  position: absolute;
  bottom: 0;
  left: 0;
}
.btn {
  margin: 45px 20px;
  display: inline-block;
  padding: 5px;
  background-color: #9e9e9e;
  color: #fff;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.7;
}
.imgContainer {
  width: 150px;
  margin: 10px auto;
}
.imgContainer img {
  display: block;
  width: 100%;
  height: auto;
}
.js-text2 li{
  margin-bottom: 20px;
}
